* {
    padding: 0;
    margin: 0;
}

div#content {
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1rem 90vh;
}

div#main-wrap {
    margin: 1rem;
}

div#container {
    height: 90vh;
    overflow: hidden;
}

div#prompt {
    background-color: gray;
}

div#container-wrap {
    background-color: gray;
}

div.window-title {
    padding: .25rem;
}

div.margin {
    border-bottom-left-radius: .7rem;
}