* {
    padding: 0;
    margin: 0;
    user-select: none;
}

div#content {
    height: 90vh;
    bottom: 0;
    width: 100vw;
    grid-template-rows: 0rem auto;
    margin: auto;
}

div#main-wrap {
    margin: 1rem;
    height: inherit;
    gap: 0;
}

div#container {
    height: 100%;
    overflow: hidden;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

div#prompt {
    background-color: var(--b);
}

div#container-wrap {
    background-color: var(--b);
    overflow: hidden;
}

div.window-title {
    padding: .25rem;
}

h2#prompt-name {
    padding: 1rem;
}

p#prompt-description {
    padding: 1rem;
}

div.divider {
    padding: .1rem;
    margin: .1rem;
    border-radius: .2rem;
    transition: all .15s ease;
}

div.divider:hover {
    background: var(--p)
}

div.divider.v {
    cursor: ew-resize;
}

div.divider.h {
    cursor: ns-resize;
}

div.prompt-monospace {
    padding: .2rem;
    background: var(--t);
    width: fit-content;
    border-radius: .2rem;
    border: var(--s);
    font-family: 'Roboto Mono'
}