html {
    font-family: 'Bricolage Grotesque', Helvetica, sans-serif;
    color: var(--tx);
    background: var(--bg);
}

:root {
    color-scheme: dark;
    --p: rgb(63, 125, 176);
    --bg: rgb(0,0,0);
    --b: rgb(39, 39, 39);
    --tx: rgb(212,212,212);
    --txa: rgb(180, 180, 180);
    --s: rgb(90,90,90);
    --c: rgb(30,30,30);
    --t: rgb(60, 60, 60);

    --c1: rgb(145, 192, 131);
    --c2: rgb(201, 219, 177);
    --c3: rgb(251, 235, 155);
    --c4: rgb(255, 205, 140);
    --c5: rgb(232, 126, 128);
}