/* Bricolage Grotesque */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../../static/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf')
}

/* Roboto Mono */
@font-face {
    font-family: 'Roboto Mono';
    src: url('../../static/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf')
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

div.grid-horizontal {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

div.grid-vertical {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

div.flex-horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

div.flex-vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.rounded-borders {
    border-radius: .7rem;
}